@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #edf4fe;
  --background: #edf4fe;
  --foreground: #111;
}

html,
body {
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100%;
}